# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java program\tufastly\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
